.features {
  .container {
    padding: 0;
  }

  &__items {
    display: none;
  }

  &__heading {
    padding: 0 20px;
    @include MobileMarginTop;
    @include MobileHeading2;
  }

  &__inner {
    padding: 0 20px;
    background-color: $color-medium-light;
    margin-top: 32px;
    box-shadow: 0 8px 6px -6px black;
  }
}

@media (min-width: 768px) {
  .features {
    &__inner {
      padding: 60px 90px;
      position: relative;
    }

    &__heading {
      @include TabletMarginTop;
    }
  }
}

@media (min-width: 1194px) {
  .features {
    &__items {
      display: block;
      padding-top: 0;
      display: flex;
      flex-wrap: wrap;
    }

    &__item {
      flex: 0 50%;
    }

    .item {
      flex: 0 50%;

      &__heading {
        color: $color-most-light2;
        margin-top: 60px;
        margin-bottom: 20px;
        @include DescHeading3;
      }
    }

    .list {
      &__item {
        @include DescMainText;
        color: $color-medium-dark;
        margin-bottom: 10px;
      }
    }
  }
}
