.promo {
  .container {
    padding: 0;
  }

  &__inner {
    display: flex;
    flex-direction: column;
  }

  &__img {
    background: url('../img/images/promo_mobile.jpg') center center no-repeat;
    height: 245px;
    width: 100%;
  }

  &__text {
    padding: 0 20px;
  }

  &__heading {
    @include MobileHeading1;
    margin-top: 40px;
  }

  &__description {
    @include DescMainText;
    margin-top: 20px;
    color: $color-medium-dark;
  }
}

@media (min-width: 768px) {
  .promo {
    .container {
      padding: 0 20px;
    }

    &__inner {
      margin-top: 130px;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }

    &__img {
      order: 3;
      height: 317px;
      background-image: url('../img/images/promo_tablet.jpg');
    }

    &__text {
      width: 378px;
      padding: 0;
      position: relative;
    }

    &__heading {
      @include TabletHeading1;
    }

    &__description {
      padding-right: 20px;
    }
  }
}

@media (min-width: 1194px) {
  .promo {
    &__img {
      height: 464px;
      background: url('../img/images/promo_desktop.jpg') center left no-repeat;
    }

    &__heading {
      @include DescHeading1;
    }
  }
} ;
