$color-background: #f7f7f7;

$color-most-light: #0db2b3;
$color-medium-light: #cfeff0;
$color-less-light: #eefafa;

$color-most-dark: #131313;
$color-medium-dark: #333333;
$color-less-dark: #4f4f4f;

$color-most-grey: #7c7c7c;
$color-medium-grey: #bdbdbd;
$color-less-grey: #d0d0d0;
