$mainTextColor: #333333;
$secondaryTextColor: #7c7c7c;
$additionalTextColor: #bdbdbd;

$hover: #131313;
$disabled: #d0d0d0;

$linksTextColor: #0db2b3;
$mainBackgroundColor: #f7f7f7;

$additionalColor: #0c797a;

$inputBorderColor: #828282;
